<header>
    <nav>
        <div>
            <a href="/posts">Posts</a>
        </div>
        <div class="middleitems">
            <a href="/users">Users</a>
            <a href="/users/create">Create New User</a>
        </div>
        <div class="nav-last-element">
            <a href="/posts/create">+ New Post</a>
        </div>  
        
    </nav>

</header>